# MongoDB Atlas Connection String
# Replace <db_username> and <db_password> with our group's real credentials
MONGO_URI=mongodb+srv://<db_username>:<db_password>@csc337-finalproject.vseimkn.mongodb.net/?appName=CSC337-FinalProject

# Session Secret (used for the User module's login sessions)
SESSION_SECRET=enter_a_random_string_here